<% if @partners.first.photos.present? %>
  <h2 class="section-title"> Nos Partenaires </h2>
  <div class="container partners">
    <div class="row">
      <div class="col-md-12">
        <div id="Carousel" class="carousel slide">
          <!-- ol class="carousel-indicators">
          <% @partners.first.photos.in_groups_of(3, false).each_with_index do |partner, index| %>
          <li data-target="#Carousel" data-slide-to="<%= index %>" class="<%= is_active(index) %>"></li>
          <% end %>
        </ol -->
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @partners.first.photos.in_groups_of(3, false).each_with_index do |partner, index| %>
          <div class="item <%= is_active(index) %>">
            <div class="row">
              <% partner.each do |photo| %>
              <div class="col-md-4">
                <% if photo.partner_url.present? %>
                  <%= link_to image_tag(photo.cont.url, class:"img-responsive center-block"), photo.partner_url, target: '_blank' %>
                <% else %>
                  <%= image_tag photo.cont.url, class:"img-responsive center-block" %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div><!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div><!--.Carousel-->
    </div>
  </div>
  </div>
<% end %>
