<div class="company">
  <div class="company-header"></div>
  <div class="container">
    <div class="col-lg-11 col-lg-offset-1">
      <ol class="breadcrumb">
    	  <li><%= link_to "Acceuil", root_path %></li>
    	  <li class="active">A propos</li>
    	</ol>
      <div class="company-body">
        <div class="row">
          <h1 class="title">A propos de 3N-Secure</h1>
          <table class="company-categ">
            <td>
              • Systèmes d'alarme<br>
              • Vidéosurveillance IP<br>
              • Analogique et HD<br>
              • Vidéophone / interphone<br>
              • Contrôle d'accès<br>
              • Barrières automatiques et accessoires<br>
              • Vidéosurveillance pour véhicule IP et HD<br>
              • Détecteurs de métaux explosifs et scanner d'inspection de bagages
            </td>
            <td>

              • Antennes antivol<br>
              • Dés activeurs, tags et accessoires<br>
              • Détection incendie<br>
              • Miroirs de sécurité<br>
              • Tourniquets tripodes, couleurs rapides et portillons d'accès<br>
              • Portails coulissants<br>
              • Portes basculantes et accessoires<br>
              • Solutions de pointage contrôleurs de rondes<br>

            </td>
          </table>
          <table class="company-products">
            <td>
              <%= image_tag("alarme.jpg")  %>
              <h3 class="red">Systèmes d'alarme :</h3>
              <p>Nos systèmes de détection d'intrusion et d'alarme (Filaire, sans Fil ou Hybride) sont innovants. Nous les réalisons sur mesure suivant vos besoins et selon la configuration de votre bâtiment ou habitation. 24h/24, nous assurons un service technique de garde.</p>
            </td>
            <td>
              <%= image_tag("video.jpg")  %>
              <h3 class="red">Vidéosurveillance :</h3>
              <p>A l'intérieur et à l'extérieur, nous installons des caméras Analogiques, IP et HD performantes afin de surveiller vos habitations, locaux et vous prévenir des intrusions et situations non désirées.</p>
            </td>
            <td>
              <%= image_tag("acces.jpg")  %>
              <h3 class="red">Contrôle d'accès :</h3>
              <p>Afin de contrôler, connaître les mouvements et établir un historique, nos solutions de contrôle d'accès sont optimales. Elles vous permettront d'autoriser ou d'interdire les entrées/sorties d'une zone définie suivant différents critères (horaires, calendrier, fonctions, personnel…). Nous vous proposons des systèmes efficaces par badges, tags, codes, biométrie (empreintes digitales)…</p>
            </td>
          </table>
          <table class="company-tarif">
            <td>
              <strong> </strong>
              <p>
                <strong>
                  Nos prix et tarifs sont bien étudiés et très attractifs.
                  Nos devis sont rapides et GRATUITS.
                </strong> <br>
                Si vous cherchez à installer un système d'alarme, vidéosurveillance,
                contrôle d'accès ou domotique, pensez à
                3N-Secure. Pour toutes informations
                Contactez-nous au <strong class="red">+216 71 70 58 58</strong>
                ou <strong class="red">55 58 00 21 </strong>
              </p>
            </td>
            <td>
              <%= image_tag("sav.jpg") %>
            </td>
          </table>

          <p class="description">
            <strong>Conseil :</strong> <br/><br/>
            Nos experts étudient avec vous les solutions adaptées à vos exigences
            sécuritaires et budgétaires. Nous  vous garantissons des solutions
            sur mesure, pour tout type de bâtiment : habitat, commerce ou grande
            structure!
            De plus, nous nous attachons à optimiser la performance et la pérennité
            de vos installations par des réponses technologiques adaptées et des
            services personnalisés. 
          </p>
          <p class="description">
            <strong>Nos atouts :</strong> <br/><br/>
            &emsp;- Expertise, savoir-faire et innovation technologique en matière de sécurité électronique.<br/>
            &emsp;- Des équipements à la pointe de la technologie.<br/>
            &emsp;- Réactivité et l'écoute du client 24 H/24H 7J/7J.<br/>
            &emsp;- Un suivi permanent de la qualité de nos prestations.<br/>
            &emsp;- Haute qualification technique.<br/>
            &emsp;- Mobilité géographique dans tout le pays.<br/>
            &emsp;- Optimisation des solutions et ajustement au budget du client.
          </p>
          <p class="description">
            <strong>Partenaires et fournisseurs :</strong> <br/><br/>
            Nos partenaires et fournisseurs sont des leaders mondiaux comme
            HIKVISION (Caméras IP, Analogiques et HD, DVRs, NVRs ...), PARADOX
            (systèmes d'alarme), HONEYWELL (détection incendie ESSER), SATEL
            (systèmes d'alarme), ZKTeco (Pointeuses et Contrôle d'accès),
            SECUSCAN (Portiques de sécurité, détecteurs de métaux et Scanners à
            rayons X) , UTEPO (Switchers POE), RG FRANCE (Câble KX6, KX8, Incendie,
            câble CR1/C1...), ULTRACELL et POWER KINGDOM (batteries), PULSAR
            ( Boîtiers et Alimentations ).
          </p>

        </div>

      </div>
    </div>
  </div>
</div>
