<div class="container">
  <div class="col-lg-11 col-lg-offset-1">
    <ol class="breadcrumb">
      <li><%= link_to "Acceuil", root_path %></li>
      <li class="active"> Conditions générales de la garantie </li>
    </ol>
    <div class="cgu-body">
      <div class="row">
        <h1 class="title">Conditions générales de la garantie</h1>
        <div class="cgu-terms">
          <ol>
            <li>
              La garantie du constructeur ne couvre pas 
              <ol>
                <li>
                    - Les accessoires vendus avec les produits (télécommande, tête
                    de récepteur, câble d’alimentation  ou de connections, Haut-parleur, ampoules, chargeurs..)
                 </li>
                 <li>
                    - Les consommables.
                  </li>
                  <li>
                    - Toutes mauvaises manipulations (trace de liquides, casse,
                    réparations à l’extérieur, choc électrique, rayures,
                    inversement  de fils, problème système informatique ou
                    mauvaise programmation afficheurs…)
                   </li>
              </ol>
            </li>
            <li>
              En cas de produit livre par 3N-Secure
              <ol>
                <li>
                  - Le client doit examiner  soigneusement les produits à la livraison.
                </li>
                <li>
                  - Le client doit éventuellement tester leur bon fonctionnement.
                </li>
                <li>
                  - En cas de toutes, le client doit apposer les réserves nécessaires sur le bon de livraison.
                </li>
                <li>
                  - En cas d’anomalie (rayures, produit non conforme ou non fonctionnels..), le client doit écrire et signer le motif de son refus sur le bon de livraison ; la marchandise sera ramenée à 3N-Secure par les livreurs et  livrée du nouveau, le lendemain si le produit est disponible.
                </li>
                <li>
                  - Il est recommandé au client de conserver l’emballage d’origine durant toute la durée de la garantie, ce dernier étant requis en cas de retour de la marchandise au S.A.V. et chez les fabricants.
                </li>
                <li>
                  - Aucune réclamation concernant ces points ne sera prise en considération après livraison.
                </li>
                <li>
                  - En cas d’absence du client au moment de la livraison  la marchandise lui sera livrée selon la disponibilité de notre planning.
                </li>
              </ol>
            </li>
            <li>
              En cas de produit emporté par le client :
              <ol>
                En présence du vendeur, vérifier :
                <li>
                  - L’état général du produit.
                </li>
                <li>
                  - La présence  de tous les accessoires.
                </li>
                <li>
                  - La présence de la notice explicative.
                </li>
                <li>
                  - Il est recommandé au client de conserver l’emballage d’origine durant toute la durée de la garantie, ce dernier étant requis en cas de retour de la marchandise au  S.A.V. et chez les fabricants
                </li>
                <li>
                  - S’il le souhaite, le client peut se rendre au S.A.V.  afin de tester son achat.
                </li>
                <li>
                  - Aucune réclamation d’un manque d’accessoire ne sera prise en considération après la date d’achat.
                </li>
              </ol>
            </li>
            <li>
              Pour les produits nécessitant des montages électriques spécifiques 
              <br />
              <ol>
                <li>
                  3N-Secure se dégage de toute responsabilité d’anomalie engendrée
                  par un montage non conforme effectué par une société autre que 3N-Secure.
                </li>
              </ol>
            </li>
            <li>
              En cas de changement d’avis :
              <ol>
                <li>
                  Tous nos produits une fois vendus ne sont ni repris ni échangés.
                </li>
              </ol>
            </li>
            <li>
              En cas de panne :
              <ol>
                Le produit doit être ramené au SAV :
                <li>
                  - Avec ticket de caisse ou la facture, 3N-Secure s’engage à :
                </li>
                <li>
                  - Faire établir un diagnostic technique de la panne  par la constructrice
                </li>
                <li>
                  - Communiquer au client l’origine de la panne.
                </li>
                <li>
                  - Réparer le produit sous  30 jours maximum suivant son dépôt au S.A.V.
                </li>
                <li>
                  - Si ce n’est pas le cas, 3N-Secure délivrera un avoir au client.
                  Si la cause de panne est due à une mauvaise manipulation de la part du client, 3N-Secure établira un ordre pour réparation qui sera soumis à l’approbation du client avant toute intervention et ce si le produit se trouve réparable.
                </li>
              </ol>
            </li>
          </ol>

          </div>
          <h2 class="condition">
            LE NON RESPECT DE L’UNE DE CES CONDITIONS PAR LE
            CLIENT, DEGAGE 3N-SECURE DE TOUTE RESPONSABILITE
          </h2>
        </div>
      </div>

    </div>
  </div>
</div>
