<%= render 'sliders/slide' %>
<% if @featured_products.present? %>
  <section class="featured">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'sliders/featured_products'%>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section class="cat-blocks">
  <div class="container">
    <ul class="row">
      <% @root_categories.categories.each do |root| %>
        <li class="col col-lg-4  col-md-6 col-sm-12 category-photo">
          <div class="box" style="background-image: linear-gradient(to bottom, transparent, transparent),url(<%= is_background(root) %>);">
            <div class="category-description">
              <%= raw(parag_truncate(root.description, 200)) %>
            </div>
            <%= link_to "Voir tous les produits", category_path(root), class: "btn btn-warning" %>
            <%= link_to category_path(root), class:"btn btn-default box-title" do %>
              <span> <%= parag_truncate(root.name.titleize, 30) %> </span>
            <% end %>
          </div>
          <!--
            <%= link_to category_path(root), class:"box-title" do %>
              <h3><%= root.name.titleize %> </h3>
            <% end %>
          -->
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class="infos">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="box">
          <%= link_to service_path, class:"red" do %>
            <%= image_tag 'sav.png' %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="box">
          <%= link_to contact_path, class:"red" do %>
            <%= image_tag 'devis.png' %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="box">
          <%= link_to gterms_path, class:"red" do %>
            <%= image_tag 'garantie.png' %>
          <% end %>
        </div>
      </div>
    </div>

    <hr>


  </div>
</section>
<%= render 'static_pages/partners' %>
