<div class="inprogress">
  <div class="holder">
    <%= image_tag 'logo.png' %>
    <h1 class="red"> Site en development </h1>
  </div>
</div>

<style media="screen">
  body {
    padding-top: 0px;
  }
</style>
