<div class="container">
  <div class="col-lg-11 col-lg-offset-1">
    <ol class="breadcrumb">
      <li><%= link_to "Acceuil", root_path %></li>
      <li class="active"> Mention Légales </li>
    </ol>
    <div class="cgu-body">
      <div class="row">
        <h1 class="title">Mention Légales</h1>
        <div class="cgu-terms">
          <ol>
            <li>
              Informations mises à disposition
              <ol>
                <li>
                  Les informations communiquées et publiées sur ce site, sont non contractuelles. Le contenu mis à disposition est fourni à titre informatif. L'existence d'un lien du site de la société 3N-Secure vers un autre site ne constitue pas une validation de ce site ou de son contenu. Il appartient à l'internaute
                  d'utiliser ces informations avec discernement et esprit critique.
                 </li>
              </ol>
            </li>
            <li>
              Licence de droit d'usage et copyright
              <ol>
                <li>
                  L'ensemble de ce site relève de la législation Tunisienne et internationale sur le droit d'auteur et de la propriété intellectuelle, aussi bien en ce qui concerne sa forme choix du plan, disposition des matières, moyens d'accès aux données, organisation des données... 
                  <br />
                  Concernant chacun des éléments de son contenu textes, et images. Toutes les reproductions, de tout ou partie de ce site, y compris pour les documents téléchargeables et les représentations sont formellement interdites sauf autorisation expresse du responsable du site.
                 </li>
              </ol>
            </li>
            <li>
              Edition
              <ol>
                <li>
                  Le site, www.3n-secure.tn est édité par 3N-Secure,
                  dont le siège social est au 65 AVENUE HABIB BOURGUIBA 2EME ETAGE APPT N°2, NOUVELLE ARIANA 2080,TUNISIE.
                  Le directeur responsable de la publication est Monsieur Samy NADJAR.
                 </li>
              </ol>
            </li>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
