<div class="container">
  <div class="col-lg-11 col-lg-offset-1">
    <ol class="breadcrumb">
      <li><%= link_to "Acceuil", root_path %></li>
      <li class="active"> Service aprés vente </li>
    </ol>
  </div>
  <div class="service">
    <div class="infos-container">
      Nos techniciens vous guident :<br />
      Vous souhaitez faire évoluer votre matériel et vérifier la compatibilité d’un nouveau composant ?<br/>
      Contrôler votre sélection de pièces pour votre toute nouvelle machine personnalisée ?<br/>
      Vous désirez tout simplement être guidé pour trouver le meilleur produit pour votre budget ?<br/>
      Contactez-nous ! Nos techniciens expérimentés se feront un plaisir de répondre à vos interrogations !
      <br />
      Appelez sur le <strong>71 70 58 58</strong> ou nous envoyer un email à l’adresse suivante :
      <strong> sav@3n-secure.tn </strong>.
    </div>
    <div class="description-container">
      Avez-vous besoin d'aide ou du service de réparation ?<br />
      Nous souhaitons que vos produits
      S'il arrivait que votre matériel tombe en panne, vous parviendriez
      facilement à obtenir l'aide dont vous avez besoin, en vous appelant sur
      le <br /><strong>71 70 58 58</strong> ou nous envoyer un email à l’adresse suivante :
      <strong>sav@3n-secure.tn</strong>.
      Les centres SAV de nos fournisseurs tenus par des techniciens qualifiés et
      sont destinés à répondre aux diverses demandes de réparation.<br/> <br/>

 
      Le personnel évalue les produits au moyen de procédures et de matériel de test spécifiques, puis effectue les réparations et les vérifications nécessaires auprès de nos fournisseurs et ce conformément aux normes 3N-Secure. Dans les centres des fournisseurs sont également stockées les différentes pièces de rechange pour chacun de nos produits. La plupart des produits peuvent être réparés, y compris ceux qui ne sont plus couverts par la garantie.
    </div>
  </div>
</div>
