
  <div id="carousel-featured" class="carousel slide" data-ride="carousel">
    <!-- -->
    <ol class="carousel-indicators">
      <% @featured_products.each_with_index do |page, index| %>
        <li data-target="#carousel-featured" data-slide-to="<%= index %>" class="<%= is_active(index) %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
      <% @featured_products.each_with_index do |page, index| %>
        <div class="item <%= is_active(index) %>">
          <%= link_to image_tag page.cover.url %>
          <div class="carousel-caption">
            <h2><%= page.title %> </h2>
            <p> <%= page.description %></p>
            <%= link_to "Details", category_product_path(page.product.category_id , page.product ), class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
