<% if @activated.present? %>
  <section class="masthead">
    <div id="carousel-masthead" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @activated.each_with_index do |page, index| %>
          <li data-target="#carousel-masthead" data-slide-to="<%= index %>" class="<%= is_active(index) %>"></li>
        <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="slider" role="listbox">
        <% @activated.each_with_index do |page, index| %>
          <div class="item <%= is_active(index) %>">
              <%= link_to image_tag(page.slider_image.url, :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
            <div class="carousel-caption">
              <h2><span class="red"> <%= page.name %>
              <p> <%= page.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
