<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %> -->


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sign-up col-sm-10 col-sm-offset-1'}) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="red">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.email_field :email, placeholder: "Your Email",class: "form-control", autofocus: true %>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password, placeholder: "Your password",class: "form-control", autocomplete: "off" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password_confirmation, placeholder: "Confirmation password", class: "form-control", autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :current_password, placeholder: "Current password", class: "form-control", autocomplete: "off" %> <br />
      (leave blank if you don't want to change it)
    </div>
  </div>


  <div class="form-group row">
    <div class="actions col-sm-10 col-sm-offset-1">
      <%= f.submit "Update", class:"btn btn-secondary" %> ou
      <%= link_to "Back", :back %>
    </div>
  </div>
<% end %>
