
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sign-up col-sm-10 col-sm-offset-1'}) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="red">Sign up</h2>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.email_field :email, placeholder: "Your Email",class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password, placeholder: "Your password",class: "form-control", autocomplete: "off" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password_confirmation, placeholder: "Confirmation password", class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="actions col-sm-10 col-sm-offset-1">
      <%= f.submit "Sign up", class:"btn btn-secondary" %> ou
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
