<%= form_for @new_comment, html: {class: "container comments-submit"}, remote: true do |f| %>
  <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
  <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group">
          <%= f.text_field :user, placeholder: "Username", class: 'form-control' %>
        </div>
        <div class="input-group">
          <%= f.text_field :usermail, placeholder: "Email", class: 'form-control' %>
        </div>
        <div class="input-group">
          <%= f.text_area :body, rows:"6", placeholder: "Laisser un commentaire", class: 'form-control' %>
        </div>
        <%= f.submit "Post comment", class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
