<div id="alert_placeholder"></div>
<div class="comments-body container">
  <h1> commentaire </h1>
  <% comments.is_active.each do |comment| %>
    <div class="sender-comment">
      <h5> <%= comment.user %> </h5>
      <p>
        <%= comment.body %>
      </p>
    </div>
    <% if comment.reponseadmin.present? %>
      <div class="threen-comment row">
       <div class="media">
          <div class="media-left">
            <%= image_tag 'avatar1.jpg', class: "img-circle" %>
          </div>
          <div class="media-body">
            <h5> 3N-Secure </h5>
            <p>
              <%= comment.reponseadmin %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
