<% if Comment.pluck(:published).all? {|comment| comment == true} %>
  <%= render partial: "comments/reply", locals: {comments: commentable.root_comments} %>
  <%= render partial: "comments/form", locals: {new_comment: new_comment} %>
<% end %>
