<div class="team">
  <ul class="row">
    <% @team_members.each do |team_member| %>
      <li class="member col-md-4">
        <div class="member-container">
          <%= image_tag team_member.picture.url, class: "avatar" %>
        </div>
        <h2 class="member-name"><%= team_member.name.titleize %></h2>
        <h3 class="member-title"><%= team_member.title.capitalize %></h3>
        <% if team_member.linkedin.present? %>
          <%= link_to team_member.linkedin, class: "member-linkedin", target: "_blank" do %>
            <i class="fa fa-linkedin-square fa-2x"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
