<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'fpwd col-sm-10 col-sm-offset-1'}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>


  <h2 class="red"> Change your password </h2>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password, placeholder: "Your password",class: "form-control", autocomplete: "off" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password_confirmation, placeholder: "Confirmation password", class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="actions col-sm-10 col-sm-offset-1">
      <%= f.submit "Change my password", class:"btn btn-secondary" %> <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
