<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'fpwd col-sm-10 col-sm-offset-1', method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="red">Forgot your password?</h2>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
        <%= f.email_field :email, placeholder: "Your Email",class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="actions">
  </div>
  <div class="form-group row">
    <div class="actions col-sm-10 col-sm-offset-1">
      <%= f.submit "Send me reset password instructions" %> <br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
