<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Entreprise</h3>
        <ul class="list-unstyled">
          <li><%= link_to "A propos de 3N-Secure", company_path %></li>
          <li><%= link_to "Mentions légales", mention_path %></li>
          <% if @team_members.present? %>
            <li> <%= link_to "Equipe", team_members_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-3">
        <h3>Produits</h3>
        <ul class="list-unstyled">
          <% @root_categories.each do |category| %>
            <li><%= link_to category.name.humanize , category_path(category.id) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-2">
        <h3>Services & support</h3>
        <ul class="list-unstyled">
          <li><%= link_to "Services & support", gterms_path %></li>
          <li><%= link_to "Service Client", contact_path %></li>
        </ul>
      </div>
      <div class="col-sm-4 last">
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/3N-Secure" target="_blank">
              <%= icon "facebook-f fa-2x" %>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/3nsecure/" target="_blank">
              <%= icon "instagram fa-2x" %>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/company/10639587?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10639587%2Cidx%3A1-1-1%2CtarId%3A1480777526685%2Ctas%3A3n-S" target="_blank">
              <%= icon "linkedin fa-2x" %>
            </a>
          </li>
        </ul>
        <div class="company_details">
          <% @details.each do |detail| %>
            <% if detail.address.present? %>
              <div class="details-holder address">
                <i class="fa fa-map-marker fa-2x"> </i>
                <span class="red"><%= detail.address %></span>
              </div>
            <% end %>
            <% if detail.phones.present? %>
              <div class="details-holder phones <%= are_multiple(detail.phones)%>">
                <i class="fa fa-phone fa-2x"> </i>
                <div class="multiple-container">
                  <% detail.phones.each do |phone| %>
                      <span class="red"><%= phone.number %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if detail.emails.present? %>
              <div class="details-holder emails <%= are_multiple(detail.emails)%>">
                <i class="fa fa-envelope fa-2x"> </i>
                <div class="multiple-container">
                  <% detail.emails.each do |email| %>
                  <span class="red"><%= email.address %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= link_to 'https://www.google.tn/maps/place/65+Avenue+Habib+Bourguiba,+Tunis/@36.8556737,10.1856833,17z/data=!3m1!4b1!4m8!1m2!2m1!1s65+Avenue+Habib+Bourguiba,+Tunis!3m4!1s0x12fd34b46f9a2f95:0x57111656f64e2937!8m2!3d36.8556737!4d10.1878773?hl=fr', target: '_blank' do %>
              <%= image_tag "3n-map.png", alt: '3n-map' %>
            <% end %>
          <% end %>
        </div>
        <!-- <%= image_tag 'cc.png' %> -->
      </div>
    </div>
  </div>
</footer>
