<nav class="navbar navbar-default navbar-fixed-top visible-xs">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag 'logo.png' %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Acceuil",  root_path %></li>
        <li><%= link_to "Entreprise", company_path %></li>
        <li>
          <a href="#" id="product">Produits</a>
          <ul class="nav navbar-nav navbar-right nav-category">
            <% @root_categories.each do |category| %>
              <li>
                <ul class="catgeory-list">
                  <li class="category-title"><%= text_truncate(category.name,30) %><li>
                  <li class="category-child"><%= link_to text_truncate(category.name,30) , category_path(category) %></li>
                  <% for child_node in category.children %>
                    <li class="category-child"><%= link_to text_truncate(child_node.name,30), category_path(child_node) %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Services & support", gterms_path %></li>
        <li><%= link_to "Promotions", promotions_path %></li>
        <li><%= link_to "Devis", contact_path %></li>
      </ul>
    </div>
  </div>
</nav>

<header class="hidden-xs">
  <nav>
    <div class="">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to root_path, class: "brand" do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <div class="bottom-menu">
            <div class="col-sm-12 details-menu">
              <% @details.each do |detail| %>
                <ul class="list-inline pull-right">
                  <% if detail.phones.present? %>
                    <i class="fa fa-phone red"> </i>
                    <li><%= detail.phones.first.number %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="col-sm-12 nav-menu">
              <ul class="list-inline pull-right">
                <li><%= link_to "Acceuil", root_path, class: active_page(root_path) %></li>
                <li><%= link_to "Entreprise", company_path, class: active_page(company_path) %></li>
                <li id="product"><a href="#">Produits</a></li>
                <li><%= link_to "Services & support", gterms_path, class: active_page(gterms_path) %></li>
                <li><%= link_to "Promotions", promotions_path, class: active_page(promotions_path) %></li>
                <li><%= link_to "Devis", contact_path, class: active_page(contact_path) %></li>
                <!-- <li><a href="#"><i class="fa fa-search"></i></a></li> -->
              </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-3">
              <div class="divider">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= render template:'categories/index' %>
</header>
