<%= form_for Contact.new, html: {class: 'contact-form'}, remote: true do |f| %>
  <div class="large-12 columns" id="form">

    <%= f.text_field :firstname, placeholder: 'Nom*', class: 'form-input' %>
    <%= f.text_field :lastname, placeholder: 'Prenom*', class: 'form-input' %>
    <%= f.text_field :phone, placeholder: 'Telephone*', class: 'form-input' %>
    <%= f.email_field :email, placeholder: 'E-mail*', class: 'form-input' %>
    <%= f.select(:product_id, @products.collect {|u| [u.name, u.id]}, prompt: 'Choisir un produit') %>
    <%= f.text_area :message, placeholder: 'Message*', class: 'form-area', rows: '6' %>
    <%= f.text_field :company, placeholder: 'Société', class: 'form-input' %>
    <%= f.text_field :address, placeholder: 'Adresse *', class: 'form-input' %>
    <%= f.submit "ENVOYER", class: 'button form-submit' %>
  </div>
<% end %>
