
<div class="container">
  <h3 class="red devis-title">SERVICE CLIENT - DEMANDER DEVIS</h3>
  <div class="contact">
    Dans cette rubrique, vous pouvez nous demander un devis estimatif.<br />
    Vous avez toujours la possibilité de nous demander une étude gratuite dès
    qu'il s'agit d'une solution (Pointage, système d'alarme, système de vidéo
    surveillance, système de détection incendie, une solution de gestion et contrôle des accès etc.).<br/>
    <strong>Nous nous engageons à vous faire parvenir un devis estimatif dans les 48 heures.</strong>
  </div>
  <%= render "contacts/form"%>
</div>
<div class="alert alert-success" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  Votre demande de devis a été envoyée avec succés.
</div>
