<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @contact.product.name.present? %>
      <h3>
        Une demande de devis a propos du produit <%= @contact.product.name %>
      </h3>
    <% end %>
    <p>
      <%= @contact.message %>
    </p>

    ------------------------
    <br /><br/>
    <%= @contact.firstname %> <%= @contact.lastname %>
    <br />
    <% if @contact.company.present? %>
      <span style="font-weight: bold"> Société: </span> <%= @contact.company %>
    <% end %>
      <br />
    <% if @contact.address.present? %>
      <span style="font-weight: bold">Adresse: </span> <%= @contact.address %>
    <% end %>
    <br />  <br />  <br />


    <% if @contact.phone.present? %>
      <span style="font-weight: bold">Tel:</span> <%= @contact.phone %>
    <% end %>  <br />
    <% if @contact.fax.present? %>
      <span style="font-weight: bold"> Fax: </span><%= @contact.fax %>
    <% end %>  <br />
  </body>
</html>
