<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'log-in col-sm-10 col-sm-offset-1'}) do |f| %>
  <h2 class="red">Log in</h2>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.email_field :email, placeholder: "Your Email",class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= f.password_field :password, placeholder: "Your password",class: "form-control", autocomplete: "off" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="form-group row">
    <div class="actions col-sm-10 col-sm-offset-1">
      <%= f.submit "Log in", class:"btn btn-secondary" %> <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
