// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "just_datetime_picker/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#header {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #0f7180;
  box-shadow: none;
  text-shadow: none;

  h1 {
    color: #f6871f;

    a:hover {
      color: #88adb3;
    }
  }
  img{
    width:150px;
    height: 85px;
  }

  a, a:link {
    font-weight: 600;
    font-size: 14px;
    color: #f6871f;
    text-transform: uppercase
  }
  #utility_nav{
    a:hover{
      color: #88adb3;
    }
  }

  ul.tabs > li.current > a,
  ul.tabs > li:hover > a {
    background: #fff;
    color: #88adb3;
  }
}
#index_table_promotions {
  .col-products {
    width: 120px;
  }
  .col-description{
    width: 500px;
  }
}
.phones, .emails {
  h3 {
    display: none;
  }
  label {
    padding-left: 0 !important;
  }
}
.cke_chrome {
  width: 100% !important;
  overflow: hidden;
}
