@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700,900";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700";

@import "_variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'hover';
@import "bootstrap-slider";

@import "base";
@import "navbar";
@import "footer";
@import "devises";
@import "categories";
@import "static_pages";

@import "carousel";
@import "pagination";
@import "panel";

@import "home";
@import "company";
@import "gterms";
@import 'service';
@import "promotions";
@import "products";
@import "contacts";

@import "sidebar";
@import "team_members";

@import "product";
@import "breadcrumb";
@import "comments";
@import "input_spinner";
@import "spinner";

body {
  overflow-x: hidden;
}
.yield {
  margin-top: 40px;
}
.alert-danger {
  margin-top: 50px;
}
.error {
  color: red;
  font-size: 14px;
  margin: 10px 50px;
  padding: 6px 12px;
}

.inprogress {
  text-align: center;

  .holder {
    display: inline-block;

    img {
      width: 500px;
    }

    h1 {
      font-size: 57px;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
}
