$red: #f6871f;

body {
  padding-top: 51px;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
  font-weight: 100;
  text-align: justify !important;
  color: #181818 !important;
}

.btn-yellow {
  @extend .btn-warning;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 30px
}

.red {
  color: $red;
}

.yellow {
  color: #ded711;
}

// Flex
.row-flex,
.row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'],
.container-flex > div[class*='col-'] {
  margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,
.row-flex > div[class*='col-'] div {
  width:100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
// End Flex

@media screen and (min-width: $screen-sm-min) {
  body {
    padding-top: 80px;
  }
}
