.breadcrumb{
	margin-bottom: 0px;
	> li {
		text-transform: capitalize;
		> a {
			color: #7b7b7b;
      font-weight: 400;

      &:hover {
        color: #101010;
        text-decoration: none;
      }
		}
		+ li:before {
			padding: 0 17px 0px 7px;
		}
	}
}
@media screen and (max-width: 450px) {
	.breadcrumb {
		padding: 0px 0px;
    display: inline-flex;
	}
	.breadcrumb > li {
		font-size: 12px;
		+ li:before {
			padding: 0 !important;
		}
	}
}
