.carousel {
  .carousel-indicators {
    li {
      width:  5px;
      height: 5px;
    }
    .active {
      width:  7px;
      height: 7px;
    }
  }

  .carousel-caption {
    h2 {
      font-weight: bold;
      font-size: 40px;
      color: #fff;
      margin-bottom: 20px
    }
    p {
      color: #f5f5f5;
      margin-bottom: 20px;
    }
    .btn {
      margin-right: 10px;

      &:last-child {
        margin-right: auto;
      }
    }
  }
}

.featured {
  .carousel-indicators {
    bottom: 0px;
    right: 10px;
    margin-left: auto;
    margin-bottom: 5px;
    text-align: right;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .masthead {
    .carousel-caption {
      text-align: left;
      left: 6%;
      right: 45%;
      // bottom: 30%;
      top: 10%;
      padding-bottom: 30px;
    }
  }

  .featured {
    .carousel {
      margin-left: -30px;

      .carousel-caption {
        text-align: left;
        left: 30px;
        bottom: 0px;
        padding-bottom: 30px;
      }
    }
  }
}
