.menu{
  background: #eee;
  padding-bottom: 20px;
  border-bottom: 2px solid #f6871f;
  display: none;
  .container{
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    margin-top: 2px;
    margin-right: -14px;
    height: 650px;
    overflow-y: scroll;
  }
  .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  }
  .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  }
  h3 > a{
    color: #181818;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: none;
    }
  }
  ul {
    li {
      margin: 5px auto;
      a {
        font-size: 12px;
        font-weight: light;
        color: #747474;

        &:hover {
          color: #101010;
          text-decoration: none;
        }
      }
    }
  }
}
