h1 {
	color: #171717;
  font-size: 30px;
  text-transform: capitalize;
}
#alert_placeholder {
	position: absolute;
	right: 0;
	z-index: 100;
	.alert-danger {
		margin-top: 0;
	}
}
.comments-body{
	margin-top: 30px;
	.sender-comment {
	  padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CECECE;
    h5 {
			color: #f6871f;
	    font-weight: bold;
	    font-size: 18px;
	  }
    p {
      color: #8f8f8f;
			font-weight: 400;
    }
  }
  .threen-comment {
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CECECE;
		&:last-child {
			border-bottom: 0;
		}
   img {
	    border-radius: 50%;
	  }
    .media-body {
      // padding-left: 5%;

		  h5 {
				color: #f6871f;
		    font-weight: bold;
		    font-size: 18px;
		  }
	    p {
	      color: #8f8f8f;
				font-weight: 400;
	    }
    }

  }
}
.comments-submit{
  margin-top: 15px;
  margin-bottom: 15px;
  .input-group, textarea {
    margin-top: 10px;
    width: 100%;
  }
  .form-control {
    background: #eee !important;
  }
  .btn {
		margin-top: 10px;
    padding: 10px 40px;
    float: right;
    background: #f6871f;
    color: #fff;
    border: 0;
    &:active, &:focus {
      outline: none;
       background: #f6871f;
    color: #fff;
    }
  }
}
@media screen and (max-width: 450px) {
	.comments {
		.comments-body  {
			.threen-comment{
				h5 {
					font-size: 16px !important;
				}
				p {
					font-size: 14px !important;
				}
			}
			h1 {
				font-size: 14px;
				text-align: center;
			}
		}
		.comments-submit {
			width: 90%;
			.input-group input, textarea {
				font-size: 12px;
			}
			.btn {
				font-size: 12px;
				padding: 5px 10px !important;
				float: left;
			}
		}
	}
}
