.company{
  .company-header{
    background: image_url("entreprise-3n.jpg") no-repeat center center;
    height: 600px;
    background-size: contain;
  }
  .company-body{
    padding-left: 15px;
    .title{
      font-size: 22px;
      color: #f6871f;
      margin-bottom: 2% !important;
    }
    .company-categ {
      td {
        padding: 10px 50px;
      }
    }
    .company-products {
      table-layout: fixed;
      margin-top: 5%;
      td {
        width: 33%;
        padding: 0 10px;
        vertical-align: top;
        img {
          width: 100%;
          max-width: 200px;
          height: auto;
          background: #dddddd;
          font-family: sans-serif;
          font-size: 15px;
          line-height: 20px;
          color: #555555;
        }
      }
    }
    .company-tarif {
      td {
        &:first-child {
          width: 60%;
        }
        &:last-child {
          width: 40%;
          text-align: center;
        }
      }

    }
    .description{
      font-weight: 300;
      font-size: 16px;
      color: #373737;
      padding-bottom: 34px;
    }
  }

}
@media screen and (max-width: 450px) {
  .company .company-header {
    height: 200px;
  }
  .company-categ, .company-tarif, .company-products {
    tbody tr {
      display: block;
      td {
        font-size: 12px;
        display: block;
        width: 100% !important;
        padding: 20px 20px !important;
        h3{
          font-size: 12px;
        }
        p {

        }
      }
    }
  }
  .company .company-body {
    .title{
      font-size: 16px;
      text-align: center;
    }
    .description {
      font-size: 12px;
    }
  }
}
