.contact {
  margin: 50px 200px;
  text-align: justify;
}
.alert-success {
  width: 350px;
  margin-top: 25%;
  position: absolute;
  right: 0 !important;

}
.contact-form {
  margin: 50px 200px;
  margin-top: 0 !important;
  .form-area{
    width: 100%;
    margin: 10px 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .form-input, #contact_product_id{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .button{
    background: #f6871f;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.devis-title {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
@media screen and (max-width: 450px) {
  .devis-title {
    font-size: 16px;
    margin-top: 0 !important;
    margin-bottom: 1.5em;
  }
  .contact {
    margin: 0 !important;
    overflow: hidden;
    font-size: 12px;
  }
  .contact-form {
    margin: 20px 0px;
    .form-area {
      font-size: 12px;
    }
    .form-input, #contact_product_id {
      height: 30px;
      font-size: 12px;
    }
    .button {
      font-size: 12px;
      padding: 15px;
    }
  }
}
