.sign-up, .log-in, .fpwd {
  float:none;
  height: 416px;
  h2{
    text-align: center;
    padding: 20px;
  }
  .form-control{
    background-color: transparent;
  }
  .actions{
    text-align: center;
  }
}
