.events-body{
  margin-bottom: 50px;

  .events-list{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c4c4c4;
    &:first-child{
      padding-top: 0px;
    }
    &:last-child{
      border-bottom: 0px solid #c4c4c4;
    }
    .event-body{

      .event-title{
        font-size: 22px;
        color: #f6871f;
        margin-bottom: 10px;
      }
      .event-date{
        float: right;
        color: #101010;
        font-size: 14px;
      }
    }
    .event-img{
      width: 100%;
    }
  }
}
