footer {
  background-color: #181818;
  font-family: 'Roboto Condensed', sans-serif;

  h3 {
    color: #fff;
    font-weight: light;
    font-size: 16px;
    margin-bottom: 20px;
  }

  ul {
    li {
      margin: 10px auto;

      a {
        font-size: 14px;
        font-weight: light;
        color: #747474;

        &:hover {
          color: #EFAC78;
          text-decoration: none;
        }
      }
    }

  }

  .last {
    text-align: right;
    margin: 10px auto;

    .social {
      @extend .list-inline;
      text-align: center;
      margin-bottom: 2em;
      li {
        > a {
          display: inline-block;
          color: #747474;
          text-align: center;
          width: 60px;
          height: 60px;
          line-height: 70px;
          border: 2px solid #747474;
          border-radius: 100%;
          margin: 0 1px;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;

          &:hover {
            color: #fff;
            background: #f6871f;
            border: 2px solid #f6871f;
          }
        }
      }
    }
    .company_details {
      .only-one {
        margin-top: 10%;
        span {
          padding-top: 20px !important;
        }
      }
      .address, .emails, .phones {
        margin-bottom: 10%;
        span {
          padding-top: 0px;
        }
      }
      .details-holder {
        min-height: 3.5em;
        i {
          display: inline-block;
          color: #f6871f;
          text-align: center;
          width: 60px;
          height: 60px;
          line-height: 60px;
          border: 2px solid #f6871f;
          border-radius: 100%;
          float: left;
          margin-right: 10%;
        }
        .multiple-container {
          float: left;
          width: 60%;
        }
        span {
          font-size: 16px;
          margin-bottom: 10px;
          width: 100%;
          text-align: left;
        }
      }

    }
    .threen-map {
      margin-top: 10%;
    }
    span {
      display: block;
      font-size: 18px;

    }
  }
}
@media screen and (max-width: 450px) {
  .threen-map {
    width: 100%;
    margin-top: 10%;
  }
  footer ul li a {
    font-size: 12px;
  }
  footer {
    padding-bottom: 50px;
    ul li a {
      font-size: 12px;
    }
    .last {
      text-align: left !important;
      .social li > a {
        width: 40px;
        height: 40px;
        line-height: 45px;
        font-size: 10px;
      }
      .company_details .details-holder {
        margin-top: 0 !important;
        i {
          width: 40px;
          height: 40px;
          line-height: 36px;
          font-size: 20px;
        }
        span {
          font-size: 12px;
        }
        .multiple-container {
          width: 60%;
        }
      }
    }
  }
}
