.cgu-body{
  padding-left: 15px;
  .title{
    font-size: 22px;
    color: #f6871f;
    padding-bottom: 34px;
  }
  .condition {
    font-size: 16px;
    text-align: center;
    color: #f6871f;
    padding-bottom: 34px;
  }
  .cgu-terms{
    margin-bottom: 100px;
    ol {
      margin-left: -40px;
      counter-reset: section;
      list-style-type: none;
      text-align: justify !important;

      li{
        text-transform: uppercase;
        font-size: 16px;
        color: #000;
        text-align: justify !important;

        ol{
          text-align: justify !important;
          li{
            font-size: 14px;
            text-transform: none;
            color: #727272;
            margin-bottom: 20px;
            text-align: justify !important;
            &:first-child{
              margin-top: 22px;
            }

          }
        }
      }
    }

  }
}
@media screen and (max-width: 450px) {
  .cgu-body .title {
    font-size: 14px;
    text-align: center;
  }
  .cgu-body .cgu-terms ol li {
    font-size: 14px;
    ol li {
      font-size: 12px;
    }
  }
}
