.masthead {
  border-bottom: 1px solid $red;
}

.featured {
  padding-top: 30px;
  padding-bottom: 30px;
  background: image-url('featured-bg.jpg') repeat-x;
  .carousel {
    .carousel-caption {
      top: 0;
      right: auto;
      bottom: auto;
      width: 450px;
      p{
        font-size: 16px;
        color: #f5f5f5 !important;
      }
    }
  }
  #carousel-featured {
    img{
      height: 400px;
      width: auto;
      text-align: center;
      margin-left: 500px;
    }
    .btn {
      background: $red;
      color: white;
      border: 1px solid $red;
      font-weight: 400;
      font-size: 16px;
      padding: 10px 20px;
      &:focus, &:active, &:hover {
        background: $red;
        color: white;
        border: 1px solid $red;
      }
    }
  }
}

.cat-blocks {
  // background-color: #f3f3f3;
  padding-top: 30px;
  // border-bottom: 1px solid #dfdfdf;

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .box-title{
    // margin: 1.5em 0 !important;
    display: flex !important;
    h3 {
      color: $red;
      font-size: 18px;
      margin-top: 0px;
      text-align: center;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .box {
    @extend .hvr-sweep-to-right;
    margin-bottom: 1.5em;
    height: 22em;
    color: #fff;
    text-align: center;
    border-left: 4px solid $red;
    background-color: #171717;
    background-size: cover;
    padding: 20px;
    .btn-default {
      display:block;
      color: white;
      background: rgba(246,135,31, 0.8);
      border-color: transparent;
      text-align: center;
      font-weight: 600;
      position: absolute;
      width: 85%;
      bottom: 10%;
      padding: 0 !important;
      span {
        width: 100% !important;
        text-align: center;
        padding: 5px 0 !important;
      }
    }
    .btn-warning {
      position: absolute;
      bottom: 10%;
      left: 30%;
      font-weight: 400;
      display: none;
      &:hover {
        background: #fff;
        border: 1px solid #fff;
      }
    }

    .category-description {
      margin-bottom: 35px;
      color: #fff !important;
      display: none;
    }

    &.hvr-sweep-to-right:before {
      background-color: $red;
    }
    &:hover, &:active {
      cursor: pointer;
      .btn-warning {
        display: block;
      }
      .btn-default {
        display: none !important;
      }
      .category-description{
        display: block;
        margin-top: 5%;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
      }
    }
  }
}

.infos {
  padding: 30px 0;
  border-top: 1px solid #f8f8f8;

  .box {
    padding: 45px;
    margin-bottom: 30px;
    text-align: center;

    h3 {
      margin: 0;
      font-size: 30px;
      font-weight: bold;
    }

    img {
      margin: 30px auto;
    }

    p {
      width: 60%;
      margin: 0 auto 20px;
    }

    .fa {
      font-size: 11px;
      margin-left: 5px;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #ddd;
  }
  .support-block {
    @extend .row;
    text-align: center;

    h3 {
      font-size: 18px;
      padding-left: 10px;
      margin-top: 30px;
      margin-bottom: 25px;
      border-left: 2px solid $red;
    }
    a {
      &:hover, &:active{
        text-decoration: none;
        color: $red;
      }
    }
    .fa {
      font-size: 11px;
      margin-left: 5px;
    }
  }
}
#slider > .item > img, #slider > .item > a > img {
  height: 500px;
  width: 100%;
}
.section-title {
  text-align: center;
  color: #f6871f;
  margin: 2%;
}
@media screen and (max-width: 450px) {
  .cat-blocks .container .row {
    margin-left: -4em;
  }
  .carousel-inner {
    min-height: 400px;
    background: #1d1d1d;
  }
  .category-photo {
    width: 100% !important;
  }
  .infos {
    .box {
      padding: 0 !important;
    }
  }
  .featured {
    #carousel-featured img{
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    .carousel .carousel-caption {
      margin-top: 50%;
      width: 100%;
      left: auto;
      right: auto;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        height: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
