.spinner{
  width: 100px;
  input{
    text-align: right;
  }
}
.input-group-btn-vertical{
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  > .btn{
    display: block;
    float: none;
    width: 100%;
    height: 24px;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
    &:first-child{
      border-top-right-radius: 4px;
    }
    &:last-child{
      margin-top: -2px;
      border-bottom-right-radius: 4px;
    }
  }
  i{
    position: absolute;
    top: 0;
    left: 4px;
  }
}
