.navbar-default {
  // display: none !important;
  .navbar-brand > img {
    margin-top: -9px;
  }

  .navbar-nav {
    > li {
      > a {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 16px;
      }
    }
  }
}

header {
  @extend .navbar-fixed-top;
  height: 130px;
  padding: 0.7em 1em;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 2px solid $red;

  .brand {
    img {
      margin-top: -32px;
      height: 150px;
      width: auto;
    }
  }

  li {
    margin: 10px 17px;

    a {
      color: #181818;
      font-weight: 400;
      font-size: 16px;

      &:hover, &:focus {
        color: #101010;
        text-decoration: none;
      }
    }
  }
  .bottom-menu {
    .details-menu {
      margin-bottom: 2em !important;
      padding-right: 30px !important;
      ul {
        i {
          margin-left: 0.25em !important;
          margin-top: 0.25em !important;
        }
        li {
          padding-left: 5px;
          padding-right: 5px;
          margin: 10px 0px!important;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
    .nav-menu {
      ul {
        li{
          a{
            font-weight: 600;
            &.active-nav {
              color: $red !important;
              border-bottom: 0.15em solid $red;
              padding-bottom: 0.5em;
            }
            &:hover {
              border-bottom: 0.15em solid $red;
              padding-bottom: 0.5em;
              a {
                color: $red !important;
              }
            }
          }
        }
      }
    }
    @extend .row;
    ul {
      margin-bottom: -20px;
      @extend .list-inline;
      @extend .pull-right;
      i {
        font-size: 1.75em;
        margin-left: 1em;
      }
    }
  }

  .top-menu {
    img {
      margin-left: 22px;
    }

    ul {
      margin-bottom: 30px;
    }
  }
  .bottom-menu {
    // display: initial;
    margin-top: auto;
    margin-bottom: auto;
  }

}
@media (max-width: $screen-md) {
  .nav-category {
    display: none;
    list-style: none;
    .catgeory-list {
      list-style: none;
      color: #777;
      .category-title {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: lighter;
        padding: 0.25em;
        margin-bottom: 0.5em;
        a {
          color: #4e4d4d;
        }
      }
      .category-child {
        display: none;
        margin-left: 5%;
        font-weight: lighter;
        padding: 0.5em;
        a {
          color: #4e4d4d;
        }
      }
    }
  }

  .bottom-menu  ul {
    display: flex !important;
  }
  .bottom-menu ul i {
    margin-left: 0.25em !important;
    margin-top: 0.25em !important;
  }
  .bottom-menu ul li {
    margin: 10px 5px !important;
  }
  .navbar-default {
    // display: none !important;
    .navbar-brand > img {
      height: 75px;
      margin-top: -35px;
    }
  }
}
