#image-preview{
	border: 1px solid #ebebeb;
	padding: 40px;
	height: 400px;
	img{
		position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	}
 	@media (max-width: $screen-xs-max) {
	 padding: 0px;
 }
}
.embed-responsive-16by9 {
	padding-bottom: 50%;
	.embed-responsive-item {
		height: 500px;
	}
}
.thumbnail{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 170px;
	width: 170px;
	border-color: #e1e1e1;
	margin-right: 29px;
	margin-bottom: 26px;
	&:last-child {
		margin-right: 0;
	}
}
.product-infos {
	.only-one {
		display: none;
	}
}

.carousel-items {
	margin-top: 15px;
}
.product-description{
	.product-name{
		color: #171717;
		font-size: 30px;
		text-transform: capitalize;
		@media (max-width: $screen-xs-max) {
			 font-size: 16px;
			 font-weight: 600;
		 }
	}
	.product-stars{
		display:none;
		.full{
			font-size: 12px;
			color: #ffab00;
		}
		.empty{
			font-size: 12px;
			color: #7f7f7f;
		}
		@media (min-width: $screen-sm-max) {
			 margin-top: 10px;
		 }
	}

	.product-price{
		margin-top: 6px;
		color: #f6871f;
		font-size: 30px;
		sup{
			font-size: 65%;
		}
	}

	.product-brief{
		margin-top: 2em;
		font-size: 14px;
		font-weight: 400;
		text-align: justify;
		color: #5f5f5f;
	}

	.product-quantity{
		display: flex;
		margin-top: 26px;
		.text{
			font-size: 12px;
			color: #6f6f6f;
			margin-top: 8px;
			margin-right: 15px;
		}
		.command-quantity{
			height: 40px;
			width: 100px;
			padding-left: 25px;
		}
		.remaining-products{
			font-size: 12px;
			color: #6f6f6f;
			margin-top: 8px;
			margin-left: 15px;
		}
	}
	.socials{
		margin-top: 36px;
		display: none;
		.text{
			margin-right: 29px;
		}
		.social-icon{
			font-size: 18px;
			color: #8f8f8f;
			margin-right: 18px;
		}
	}
	.product-command{
		margin-top: 50px;
		display: none;
		.btn-command{
			width: 312px;
			height: 60px;
			color: #000;
			background: #efe933;
			font-size: 24px;
			padding: 12px 0;
		}
		.meta-infos{
			padding: 30px 20px;
			color: #f6871f;
			text-transform: uppercase;
		}
	}
	.product-caracteritic{
		margin-top: 100px;
		margin-bottom: 50px;
		text-transform: uppercase;
		color: #171717;
		.fa-file-pdf-o{
			background: #888888;
			color: #fff;
			font-size: 30px;
			margin-left: 25px;
		}
	}
}
.product-related{
	margin-bottom: 28px;
}
@media screen and (max-width: 450px) {
	#image-preview img {
		width: 100%;
	}
	.product-infos {
		.product-description .product-name {
			margin-top: 2em;
			font-size: 14px;
		}
		.product-price {
			font-size: 16px;
		}
		.product-brief {
			font-size: 12px;
		}
	}
}
