.related-video{
	background-color: transparent;
	color: rgba(255, 255, 255, 0.75);
	background-size: cover;
	text-align: center;
	height: 400px;
	position: relative;
  h1 {
	  color: #fff;
	  font-weight: bold;
	  font-size: 40px;
	  margin-top: 0px;
	  margin-bottom: 30px;
	  position: relative;
    display: inline-block;
		text-transform: capitalize;
    top: 40%;
		width: 50%;
	  img {
	    margin-right: 10px;
	    margin-bottom: 10px;
	  }
	}
}
.product-catalogue{
	padding-bottom: 100px; //A changer valeur aleatoire
	.sidebar{
		padding-left: 0;
	}
	.catalogue-bar{
		.search-form{
			.input-group{
				height: 40px;
				width: 265px;
				.form-control{
					background: #fff;
					font-size: 14px;
					font-style: italic;
				}
				.input-group-btn{
					.fa-search{
						font-size: 31px;
						color: #8d8d8d;
					}
				}
			}
		}
		.filter-catalogue{
			.filter-text{
				font-size: 14px;
				font-weight: 400;
				padding-top: 15px;
				height: 45px;
				@media(min-width: $screen-md-min) {
	  			padding-left: 35px;
			  }

			}
			.filter-dropdown{
				.btn-default{
					background: #fff;
				}
				.dropdown-select{
					width: 115px;
					height: 45px;
				}
				.dropdown-toggle{
					background: #e0e0e0;
					height: 45px;
					i{
						font-size: 10px;
    				color: #8d8d8d;
					}
				}
				@media(min-width: $screen-md-min) {
	  			float: right;
			  }
			}
		}
		.display-catalogue{
			padding-top: 10px;
			i{
				font-size: 30px;
				color: #dbdbdb;
				padding-left: 15px;
				&:first-child{
					color: #ababab;
				}
			}
			@media(min-width: $screen-md-min) {
  			float: right;
		  }
		}
	}

	.catalogue-body{
		margin-top: 25px;
		.thumbnail{
			height: 370px;
			width: 265px;
			margin-bottom: 30px;
			border-color: #fff;
			.image-container{
				width: 260px;
				height: 260px;
				border: 1px solid #e1e1e1;
				position: relative;
				.img-responsive{
					position: absolute;
			    margin: auto;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
				}
				.product-show{
					@extend .hvr-fade;
					text-decoration: none;
					position: absolute;

			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;

			    .product-link{
						color: #fff;
						text-align: center;
						margin-top: 45%;
						visibility: hidden;
						.more {

					    font-size: 18px;
					    color: white;
						}
			    }

			    &.hvr-fade:hover {
			    	cursor: pointer;
			      background-color: rgba(110, 110, 110, 0.9);
			      visibility: visible;
			      .product-link{
			      	visibility: visible;
			      }
			    }

				}

				.product-status{
					position: absolute;
					top: 0;
					right: 0;
					width: 45px;
					height: 30px;
					z-index: 3;
					background: #e11010;
					font-size: 19px;
					font-family: 'Roboto Condensed', sans-serif;
					font-weight: 400;
					padding: 3px 5px;
					color: #fff;
				}
			}
			.caption{
				width: 265px;
				position: relative;
				border-bottom: 1px solid #e1e1e1;
				.previous-price{
					position: absolute;
					top: 0;
					right: 0;
					width: 45px;
					height: 15px;
					font-style: italic;
					font-size: 12px;
					font-weight: 400;
					text-decoration: line-through;
				}
				.product-infos{
					padding: 15px 0;
					.products-name{
						font-size: 14px;
						color: #101010;
					  overflow: hidden;
					}
					.product-price{
						font-size: 18px;
						font-weight: 700;
						color: #f6871f;
						sup{
							font-size: 65%;
						}
					}
				}
				.btn-add{
					background: #ded831;
					color: #000;
					font-size: 14px;
					margin-left: 70px;
					padding: 10px 14px;
				}
			}
		}
	}

	.catalogue-pages{
		label{
			font-size: 12px;
			font-weight: 400;
			font-style: italic;
			padding-top: 20px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 450px) {
	.related-video {
		h1 {
			font-size: 18px;
		}
	}
	.slider.slider-horizontal {
		width: 100%;
	}
	.product-catalogue .sidebar{
		.categorie-filter {
			border-width: 1px;
			.categorie-heading {
				border-bottom-width: 1px;
				img {
					padding: 0 !important;
				}
				.categorie-title a {
					font-size: 14px !important;
				}
			}
			.categorie-body {
				.categ-filter .categ-filter-title {
					font-size: 12px !important;
				}
			}
		}
	}

	.panel {
		border-width: 1px;
		.panel-heading {
			border-bottom-width: 1px;
			.panel-title {
				font-size: 14px;
			}
		}
		.panel-body {
			.product-filter .filter-cat {
				label, .filter-disp, span {
					font-size: 12px;
				}
			}
		}
	}
	.product-catalogue .catalogue-bar.filter-catalogue {
		padding-top: 1em;
		.filter-text {
			font-size: 12px;
			font-weight: bold;
			padding-right: 2em;
		}
	}

	.product-catalogue .catalogue-body .thumbnail .caption .product-infos {
		.products-name {
			font-size: 14px;
		}
		.product-price {
			font-size: 14px;
		}
	}
}
