.promotions-body {
  .masthead {
    border: none;
  }
  .slide {
    min-height: 33em;
    position: relative;
  }

  #slider {
    min-height: 30em;
    position: relative;
  }
  #slider > .item {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  #slider > .item > .promotion-flyer {
    float: right;
    margin-right:  0 !important;
    left: 0 !important;
    top:0 !important;
    right: auto !important;
  }
  .carousel-indicators {
    bottom: 0 !important;
    position: absolute;
    li {
      border-color: $red;
      &.active {
        background: $red;
      }
    }
  }
  .carousel-caption {
    margin-left: 0 !important;
    left: 0 !important;
    top:0 !important;
    right: auto !important;
    text-align: justify;
    text-shadow: none;
    .promotion-info {
      width: 100%;
      display: flex;
      h2 {
        font-size: 1.5em !important;
        color: $red;
      }
      span {
        font-size: 1.5em !important;
        color: #b20000;
        margin-top: 0.75em;
        position: absolute;
        right: 10%;
      }
    }
    p {
      font-size: 1em !important;
    }
  }
}
@media screen and (min-width: 450px) and (max-width: 990px) {

}
@media screen and (max-width: 450px){
  .promotions-body {
    .carousel-inner {
      background: white;
    }
    .carousel-caption {
      position: relative;
      width: 100% !important;
      .promotion-info {
        width: 100% !important;
        h2, span {
          font-size: 1em !important;
        }
      }
      p {
        width: 100% !important;
        font-size: 0.75em !important;
      }
    }
    #slider > .item {
      width: 100% !important;
    }
    #slider > .item > .promotion-flyer > img {
      width:100% !important;
    }
  }
}
