.service {
  .infos-container {
    font-size: 16px;
    border: 1px solid #f6871f;
    padding: 2em;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 8%;

  }
  .description-container {
    margin-bottom: 5%;
  }
}
