.categorie-filter{
	list-style-type: none;
	border: 3px solid #efefef;
	width: 100%;
	padding-left: 0;
	.categorie-heading{
		padding: 10px 15px;
		display: flex;
		border-bottom: 3px solid #efefef;

		align-items: center;
		.categorie-title{
			text-align: center;
			a{
				font-size: 16px;
				font-weight: 700;
				color: #000;
				padding-left: 15px;
				text-align: center;
				&:hover{
					text-decoration: none;
				}
			}
		}
		img{
			padding: 2px;
		}
	}
	.categorie-body{
    margin-left: -25px;
		.categ-filter{
			width: 100%;
			height: auto;
			position: relative;
	    padding-left: 25px;
			.categ-filter-title{
				cursor: pointer;
				list-style-type: none;
				width: 100%;
				font-size: 14px;
				font-weight: 700;
				a{
					color: #7f7f7f;
					display: block;
			    margin-right: 15px;
			    padding: 10px 15px;
					position: relative;
					border-bottom: 1px solid #e5e5e5;
					i{
						position: absolute;
						top: 14px;
    				right: 7px;
					}
					&:hover{
						text-decoration: none;
					}
				}
				.active{
					border-left: 3px solid #f6871f;
					color: #f6871f;
				}
			}

			&:last-child{
				.categ-filter-title{
					a{
						border-bottom: 0px solid #e5e5e5;
					}
				}
			}
			.categ-filter-body{
				ul{
			    list-style-type: none;

			    li{
						padding-bottom: 10px;
						font-size: 14px;
						font-weight: 400;
						color: #9f9f9f;
						&:last-child {
							padding-bottom: 0px;
						}
			    }
				}
			}
		}
	}

}
.product-filter{
	label{
		width: 100%;
		font-size: 14px;
		font-weight: 700;
		color: #7f7f7f;
	}
	.filter-cat{
		width: 100%;
		height: auto;
		border-bottom: 1px solid #e5e5e5;
		padding: 10px 0;
		position: relative;

		&:last-child{
			border-bottom: 0px solid #e5e5e5;
		}
		.filter-disp{
			color: #9f9f9f;
			font-size: 14px;
			.qte-disp{
				padding-left: 10px;
			}
		}
		span{
			color: #9f9f9f;
		}
		.min-price{
			font-size: 14px;
		}
		.max-price{
			right: 0;
			position: absolute;
    	right: 10px;
		}
		#filter-rang{
			margin-left: 10px;
	    margin-top: 6px;
	    .tooltip{
	    	display: none;
	    }
			.slider-selection {
				background: #b4b4b4;
				height: 5px;
			}
			.slider-handle{
				background: #929292;
				width: 12px;
				height: 12px;
			}
		}

	}
}
.box-side {
  padding: 15px 60px 60px;;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 2px 3px 0px #eee;
     -moz-box-shadow: 0px 2px 3px 0px #eee;
          box-shadow: 0px 2px 3px 0px #eee;

  label {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color: #171717;
  }

  img {
    margin: 30px auto;
    display: block;

  }
  .fa {
    font-size: 11px;
    margin-left: 5px;
  }
}
