// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.partners {
  .carousel {
    margin-bottom: 0;
    padding: 40px 40px 30px 40px;
  }
  /* The controlsy */
  .carousel-control {
    height: 40px;
    width: 40px;
    background: #E67B28 !important;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
  }
  .carousel-control .right{
    right: -12px;
  }

  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
  }
  /* The colour of the indicators */
  .carousel-indicators li {
    background: #cecece;
  }
  .carousel-indicators .active {
    background: #E67B28;
  }
  .carousel-inner {
    height: 200px;
    .item {
      height: inherit;
      .row {
        height: inherit;
      }
    }
  }
}
