.team {
  padding-top: 50px;
  text-align: center;

  h1 {
    display: inline-block;
    font-weight: 100;
    border-bottom: 3px solid #0f7180;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  ul {
    list-style-type: none;
  }
  .member {
    text-align: center;
    margin-top: 20px;
    height: 400px;

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 100;
    }

    .member-container {
      .avatar {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
  }
}
