<div class="menu">
  <div class="container">
    <div class="divider"></div>

    <div class="row">

      <% @root_categories.each do |category| %>
        <div class="col-sm-3">
          <h3><%= link_to text_truncate(category.name,30) , category_path(category) %></h3>
          <ul class="list-unstyled">
            <% for child_node in category.children %>
              <li><%= link_to text_truncate(child_node.name,30), category_path(child_node) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>
