
<% if @category.root.background.present? %>
	<div class="related-video" style="background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)), url(<%= @category.root.background(:original) %>);">
		<h1>
			<% if @category.root.icon.present? %>
				<%= image_tag @category.root.icon(:xxsmall) %>
			<% end %>
			<%= @category.root.name %>
		</h1>
	</div>
<% end %>

<div class="container">

	<ol class="breadcrumb">
	  <li>
			<%= link_to "Acceuil", root_path %>
		</li>
		<% if @category.parent_id != nil %>
			<li>
				<%= active_link_to text_truncate(@category.root.name,30), category_path(@category.root) %>
			</li>
			<li>
				<%= active_link_to text_truncate(@category.name,30), category_path(@category.id) %>
			</li>
		<% else %>
			<li> <%= active_link_to text_truncate(@category.root.name,30), category_path(@category.root) %></li>
		<% end %>
	</ol>

	<div class="product-catalogue">
		<div class="col-md-3 sidebar">
			<%= render 'products/sidebar' %>
		</div>
		<div class="col-md-9">
			<div class="row">

				<section class="catalogue-bar">

					<div class="row">
						<div class="col-xs-12 col-lg-4 col-lg-offset-0">
							<div class="search-form">
								<%= search_form_for @q, url: category_path, class: "input-group" do |f| %>
									<%= f.search_field :name_cont, class: "form-control", placeholder: "Rechercher Produit" %>
									<% unless params[:q].blank? || params[:q][:s].blank? %>
										<%= f.hidden_field :s, value: params[:q][:s] %>
									<% end %>
									<span class="input-group-btn">
										<%= f.button type: :submit, class: "btn btn-default btn-block" do %>
										<i class="fa fa-search"></i>
										<% end %>
									</span>
								<% end %>
							</div>
						</div>

						<div class="col-xs-12 col-lg-4 col-lg-offset-0 filter-catalogue">
							<label class="filter-text">Trier par</label>
							<div class="btn-group filter-dropdown">
							  <button type="button" class="btn btn-default dropdown-select">Prix</button>
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="drop-icon"><i class="fa fa-chevron-down"></i></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu">
									<li><%= link_to 'Price desc', {q: {name_cont: @q.name_cont, s: "price desc"}} %></li>
									<li><%= link_to 'Price asc', {q: {name_cont: @q.name_cont,s: "price asc"}} %></li>
							  </ul>
							</div>
						</div>

						<!-- <div class="col-xs-6 col-xs-offset-4 col-lg-4 col-lg-offset-0">
							<div class="display-catalogue">
								<i class="fa fa-th-large"></i>
								<i class="fa fa-th-list active"></i>
							</div>
						</div> -->
					</div>
				</section>
			</div>


			<div class="row">

				<section class="catalogue-body">
					<div class="row">
						<%= render @products %>
					</div>
				</section>
			</div>
	    <!-- <div class="row  catalogue-pages">
        <div class="col-md-12 text-center">
            <label> Pages </label>
            <ul class="pagination">
              <li class="active"><a href="#">1</a></li>
				    	<li><a href="#">2</a></li>
            </ul>
        </div>
      </div> -->
    </div>
	</div>
</div>
