<section class="masthead">
  <div id="carousel-masthead" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @promotions.each_with_index do |promotion, index| %>
        <li data-target="#carousel-masthead" data-slide-to="<%= index %>" class="<%= is_active(index) %>"></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="slider" role="listbox">
      <% @promotions.each_with_index do |promotion, index| %>
        <div class="item <%= is_active(index) %> col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-6 col-md-6 col-sm-12 carousel-caption">
            <div class="promotion-info">
              <h2 class="red"><%= promotion.name %></h2>
              <% if promotion.percentage.present? %>
                <span>  -<%= promotion.percentage %>%</span>
              <% end %>
            </div>
            <p><%= raw(promotion.description) %></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 promotion-flyer">
            <%= image_tag promotion.flyer.url(:cover), class: 'promotion-img' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
