<div class="container">
  <div class="col-lg-11 col-lg-offset-1">
    <div class="promotions-body">
      <ol class="breadcrumb">
        <li><%= link_to "Acceuil", root_path %></li>
        <li class="active"> <%= link_to "Promotions", promotions_path %></li>
      </ol>
      <%= render 'promotions/promotion' %>
    </div>
  </div>
</div>
