<div class="comments-header">
	<div class="user-infos">
		<div class="avatar-holder">
			<span class="status"></span>
			<%= image_tag 'avatar1.jpg', class: "img-circle" %>
		</div>
		<h3 class="username">3N-Secure QUEST</h3>
	</div>
	<p class="text">Pour répondre à votre question et avoir des conseils </p>
	<p class="submit-text"> Poser votre question <i class="fa fa-chevron-right"></i> </p>
</div>

<div class="comments-body">

	<div class="comments-sender">
		<h3 class="comment-since"> il ya 4 jours</h3>
		<div class="comments-avatar">
			<%= image_tag 'avatar2.jpg', class: "img-circle" %>
			<h3 class="username"> Jack lorem </h3>
		</div>

		<p class="comment-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis magna id sem blandit sagittis. Mauris nec rutrum mauris, convallis imperdiet tortor. Fusce elementum placerat euismod. Fusce interdum, metus in bibendum finibus, erat tortor cursus diam, vitae molestie erat dui at ante.
		</p>
	</div>

	<div class="comments-responder">
		<h3 class="comment-since"> il ya 4 jours</h3>
		<div class="box">
			<div class="row">
				<div class="col-xs-4 col-lg-1">
					<div class="comment-likes">
						<i class="fa fa-heart"></i>
						<span class="likes-count"> +100j'aime </span>
					</div>
				</div>
				<div class="col-xs-8 col-lg-2">
					<div class="user-infos">
						<div class="avatar-holder">
							<span class="status"></span>
							<%= image_tag 'avatar1.jpg', class: "img-circle" %>
						</div>
						<h3 class="username">3N-Secure QUEST</h3>
					</div>
				</div>

				<div class="col-xs-11 col-xs-offset-1 col-lg-9 col-lg-offset-0">
					<p class="comment-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis magna id sem blandit sagittis. Mauris nec rutrum mauris, convallis imperdiet tortor. Fusce elementum placerat euismod. Fusce interdum, metus in bibendum finibus, erat tortor cursus diam, vitae molestie erat dui at ante.
					</p>
				</div>

			</div>

		</div>
	</div>

	<div class="comments-sender">
		<h3 class="comment-since"> il ya 4 jours</h3>
		<div class="comments-avatar">
			<%= image_tag 'avatar2.jpg', class: "img-circle" %>
			<h3 class="username"> Jack lorem </h3>

		</div>

		<p class="comment-text">
			Vraiment Merci :)
		</p>
	</div>

	<div class="comments-responder">
		<h3 class="comment-since"> il ya 4 jours</h3>
		<div class="box">
			<div class="row">
				<div class="col-xs-4 col-lg-1">
					<div class="comment-likes">
						<i class="fa fa-heart"></i>
						<span class="likes-count"> +100j'aime </span>
					</div>
				</div>
				<div class="col-xs-8 col-lg-2">
					<div class="user-infos">
						<div class="avatar-holder">
							<span class="status"></span>
							<%= image_tag 'avatar1.jpg', class: "img-circle" %>
						</div>
						<h3 class="username">3N-Secure QUEST</h3>
					</div>
				</div>

				<div class="col-xs-11 col-xs-offset-1 col-lg-9 col-lg-offset-0">
					<p class="comment-text">
						You are welcome :)
					</p>
				</div>

			</div>

		</div>
	</div>

	<div class="comments-submit">
	  <div class="row">
	    <div class="form-group">
		    <div class="col-md-10">
		    	<input type="text" class="form-control" placeholder="Laisser un commentaire" />
		    </div>
		    <div class="col-md-2">
		    	<button type="submit" class="btn btn-default btn-block"> Valider </button>
		    </div>
	    </div>
		</div>
	</div>
</div>
