<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">
  <div class="thumbnail">
    <div class="image-container">
      <% if product.new? %>
        <label class="product-status">NEW</label>
        <% if product.promotion.present? %>
          <label class="product-status">-<%= product.promotion.percentage %>%</label>
        <% end %>
      <% end %>
      <% if product.images.present? %>
        <%= image_tag product.images.first.content.url(:small), class:"img-responsive center-block" %>
      <% end %>
      <%= link_to category_product_path(@category , product), class: "product-show" do %>
         <div class="product-link">
            <span class="more"> Voir Produit </span>
          </div>
      <% end %>

    </div>
    <div class="caption">
      <div class="product-infos">
        <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-8">
            <div href="#" data-toggle="tooltip" class="products-name" data-placement="bottom" title="<%= product.name %>"><span ><%= text_truncate(product.name,20) %></span>
          </div></div>
          <div class="col-xs-4 col-sm-6 col-md-4">
            <% if is_present(product.price) %>
              <span class="product-price"> <%= product.price %><sup>DT</sup></span>
            <% end %>
          </div>
        </div>
      </div>
      <!-- <a href="#" class="btn btn-add" role="button">Ajouter au panier </a> -->
    </div>
  </div>
</div>
