<ul class="categorie-filter">
  <li class="categorie-heading">
    <% if @category.root.icon.present? %>
      <%= image_tag(@category.root.icon.url(:small), :alt => "category-icon") %>
    <% end %>
    <label class="categorie-title">
      <%= active_link_to @category.root.name, category_path(@category.root) %>
    </label>
  </li>
  <li class="categorie-body">
    <% @category.root.children.each do |child| %>
      <ul class="categ-filter">
        <li class="categ-filter-title">
          <%= active_link_to child.name, category_path(child) %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <label class="panel-title">Filtrer par</label>
  </div>
  <div class="panel-body">
    <div class="product-filter">
    	<div class="filter-cat">
	    	<label> Disponibilité</label>
	    	<span class="filter-disp">
	    		<i class="fa fa-square-o available"></i>
	    		<span class="qte-disp">En Stock </span>
	    	</span>
    	</div>
    	<div class="filter-cat">
	    	<label> Prix</label>
	    	<span>Tranche <span class="min-price">0<sup>DT</sup></span></span>
	    	<span class="max-price">4999<sup>DT</sup></span>
    		<input type="text" data-slider-id="filter-rang"
          data-slider-handle="square" class="filter-rang" value="0"
          data-slider-min="0" data-slider-max="4999" data-slider-step="10"
          data-slider-value="[0,4999]"/>

      </div>
    	<div class="filter-cat">
	    	<label> Etat</label>
	    	<span class="filter-disp">
	    		<i class="fa fa-square-o new"></i>
	    		<span class="qte-disp">Nouveau</span>
	    	</span>
    	</div>
    </div>
    <%= search_form_for @q, url: category_path, remote: true do |f| %>
      <%= f.hidden_field :price_gteq, placeholder: "Min Price" %>
      <%= f.hidden_field :price_lteq, placeholder: "Max Price" %>
    <% end %>
  </div>
</div>
