<div class="container">
	<ol class="breadcrumb">
		<li>
			<%= link_to "Acceuil",  root_path %>
		</li>
		<% if @category.parent.present? %>
			<li><%= link_to text_truncate(@category.parent.name,30), category_path(@category.parent) %></li>
		<% end %>
		<li><%= link_to text_truncate(@category.name, 30), category_path(@category) %></li>
	  <li class="active"> <%= text_truncate(@product.name ,25) %> </li>
	</ol>
	<% if @product.video_url.present? %>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="" frameborder="0"></iframe>
			<a class="video-url" href="<%= @product.video_url %>"></a>
		</div>
	<% end %>

	<section class="product-infos">
		<div class="row">
			<div class="col-xs-12 col-lg-6">
				<div class="col-xs-12" id="image-preview">
					<%= image_tag @product.images.first.content.url(:xlarge) %>
				</div>
				<div class="row">
					<div class="col-xs-12 col-lg-12 <%= are_multiple(@product.images) %>">
						<% @product.images.each do |image| %>
							<div class="carousel-items col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
								<a href="#" class="thumbnail carousel-item" data-image='<%= image_path image.content.url(:large) %>'>
									<%= image_tag image.content.url(:xsmall) %>
								</a>
						</div>
	          <% end %>

					</div>
				</div>
			</div>
			<div class="col-lg-6 product-description">
				<div class="row">
					<div class="col-xs-8 col-lg-9">
						<div class="product-name"> <%= @product.name %></div>
					</div>
					<div class="col-xs-4 col-lg-3">
						<div class="product-stars">
							<i class="fa fa-star full"></i>
							<i class="fa fa-star full"></i>
							<i class="fa fa-star full"></i>
							<i class="fa fa-star full"></i>
							<i class="fa fa-star empty"></i>
						</div>
					</div>
				</div>
				<% if is_present(@product.price) %>
					<span class="product-price"> <%= @product.price %><sup>DT</sup></span>
				<% end %>
				<p class="product-brief">
					<%= @product.description %>
				</p>
				<!-- div class="product-quantity">
					<span class="text"> Quantité</span>
					<div class="input-group spinner">
				    <input type="text" min="0" class="form-control" value="1">
				    <div class="input-group-btn-vertical">
				      <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
				      <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
				    </div>
				  </div>
					<span class="remaining-products">
						155 Produits Restants
					</span>
				</div -->
				<div class="socials">
					<span class="text"> Partager sur </span>
					<i class="fa fa-facebook social-icon"></i>
					<i class="fa fa-twitter social-icon"></i>
					<i class="fa fa-linkedin social-icon"></i>
					<i class="fa fa-google-plus social-icon"></i>
					<i class="fa fa-youtube social-icon"></i>
				</div>
				<div class="product-command">
					<button class="btn btn-command">Ajouter au panier</button>
					<span class="meta-infos"> garantie: 2ans </span>
				</div>
				<% if @product.document_pdf? %>
					<div class="product-caracteritic">
						caracteristique technique
						<%= link_to @product.document_pdf.url(:original, false), target: "_blank" do %>
							<i class="fa fa-file-pdf-o"></i>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row product-related">
			<div class="col-sm-12">
				<% if @product.url? %>
				  <div class="embed-responsive embed-responsive-16by9">
				    <iframe class="embed-responsive-item" src="<%= @product.url %>" ></iframe>
				  </div>
				<% end %>
			</div>
		</div>
		<%= render partial: "comments/template", locals: {commentable: @product, new_comment: @comment} %>
	</section>
</div>
