<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render 'shared/spinner' %>
    <%= render 'shared/navbar' %>
    <div class="yield">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
